/* General styles */
body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Headline */
.headline {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Timer */
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80px * 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  margin-bottom: 0px;
}

.timer span {
  font-size: 2rem;
  margin: 0 1rem;
}

/* Jumping Jacks */
.jumping_jacks {
  max-width: 100%;
  max-height: calc(100% - 130px);
  object-fit: contain;
  margin-bottom: 0px;
}

/* Next Button and Back Button */
.next-button, .back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* Buttons container */
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: calc(80px * 0.8);
}
