/* General styles */
body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Headline */
.headline {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Timer */
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80px * 1);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2.4rem;
}

.timer span {
  font-size: 2rem;
  margin: 0 1rem;
}

/* Jumping Jacks */
.jumping_jacks {
  max-width: 100%;
  max-height: calc(100% - 80px);
  object-fit: contain;
}

/* Next Button */
.next-button, .reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2.4rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  width: 50%;
}

/* Button container */
.buttons-container {
  display: flex;
  width: 100%;
}
